@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/javascript"src="https://maps.googleapis.com/maps/api/
    js?key=AIzaSyC-nZT9DJSIqpGQ-jkzeLQXKlmJhjUVPgQ&sensor=false"></script>
   
    <!-- aqui a tagJavaScript contando o endereco do googleMaps
      e com a chave de acesso que adquirimos junto a conta do Google
      este começo: http://maps.googleapis.com/maps/api/js?key= é padrao,
      apos ele, devemos inserir nossa chave e finalizar com: &sensor=false
        '-->
}

<div class="text-center">
    <h1 class="display-4">Welcome 12345</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
